# Google OAuth Credentials
GOOGLE_CLIENT_ID=464363772737-silqko8n7qq49f1ikg5o23t33ds4nh11.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://translator-backend-pi.vercel.app/api/auth/callback

# Environment
NODE_ENV=production
